*{
    padding: 0em;
    margin: 0em;
}

.status{
    background: #93ff5d;
    font-size: 1.2em;
}

.form{
    text-align: center;
    font-size: 1.2em;
}

.form .message{
    width: 20em;
    height: 10em;
}

.submit{
    background: none;
    border: none;
    background: skyblue;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    padding: 0.5em;
    font-size: 1.3em;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.submit:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}